.securityContainer {
  width: 75%;
  margin: auto;
}

.securityRow {
  display: flex;
}

.securityHeader {
  width: 100%;
  font-size: 70px;
  letter-spacing: -3px;
  text-align: left;
  color: #163300;
}

.col-left {
  text-align: left;
  width: 60%;
}

.col-right {
  width: 40%;
}

.securityParagraph {
  font-size: 20px;
  text-align: left;
}

.securityBtn {
  background-color: #9fe870;
  border: none;
  padding-top: 12px;
  padding-bottom: 12px;
  width: 300px;
  border-radius: 25px;
  margin-top: 10px;
}

.securityImage {
  position: relative;
  width: 500px !important;
  top: 50px;
}
